html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*@media only screen and (orientation: landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}*/
.exp {
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.center_div {
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    font-size: min(4vh, 6vw);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 150%;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vmin;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #555555;
    color: white;
}